@use '../base';

.modal {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .body {
    margin-top: 20px;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #ffffff;
    overflow-y: auto;
    padding: 5px;
    border-radius: 5px;
  }

  form {
    position: absolute;
  }

  table {
    margin-top: 20px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
