<div>
  <div class="modal" *ngIf="visibility" (click)="hideModal()">
    <div class="body" (click)="stopPropagation($event)">

      <div class="form-container">
        <form class="row" [formGroup]="regionTreeForm" (ngSubmit)="getPriceList($event)">
          <div>
            <select id="state" formControlName="state" (change)="onChangeState($event.target)">
              <option value="">Pilih Negeri</option>
              <option *ngFor="let state of regionTree | keyvalue" [ngValue]="state.key">{{ state.key }}</option>
            </select>
          </div>

          <div *ngIf="regionTreeForm.value.state != ''">
            <select id="district" formControlName="district" (change)="onChangeDistrict($event.target)">
              <option value="">Pilih Daerah</option>
              <option *ngFor="let district of regionTree[regionTreeForm.value.state || ''] | keyvalue" [ngValue]="district.key">{{ district.key }}</option>
            </select>
          </div>

          <div *ngIf="regionTreeForm.value.state != '' && regionTreeForm.value.district != ''">
            <select id="premise_type" formControlName="premise_type">
              <option value="">Pilih Jenis Premis</option>
              <option *ngFor="let premise_type of regionTree[regionTreeForm.value.state || ''][regionTreeForm.value.district || '']" [ngValue]="premise_type">{{ premise_type }}</option>
            </select>
          </div>

          <button class="button" type="submit">Submit</button>
        </form>
      </div>

      <table>
        <thead>
          <tr>
            <th>Kod Premis</th>
            <th>Premis</th>
            <th>Alamat</th>
            <th>Harga</th>
            <th>Kemaskini</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of priceList">
            <td>{{ row.premise_code }}</td>
            <td>{{ row.premise_type }}, {{ row.premise }}<br>{{ row.district }}, {{ row.state }}</td>
            <td>{{ row.address }}</td>
            <td>RM{{ row.price.toFixed(2) }}</td>
            <td>{{ row.last_update }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
