<form class="row" [formGroup]="regionTreeForm" (ngSubmit)="onSubmit.emit(
  {
    state: regionTreeForm.value.state,
    district: regionTreeForm.value.district,
    premise_type: regionTreeForm.value.premise_type
  }
)">
  <div>
    <select id="state" formControlName="state" (change)="onChangeState($event.target)">
      <option value="">Pilih Negeri</option>
      <option *ngFor="let state of regionTree | keyvalue" [ngValue]="state.key">{{ state.key }}</option>
    </select>
  </div>

  <div class="ml-5" *ngIf="regionTreeForm.value.state != ''">
    <select id="district" formControlName="district" (change)="onChangeDistrict($event.target)">
      <option value="">Pilih Daerah</option>
      <option *ngFor="let district of regionTree[regionTreeForm.value.state || ''] | keyvalue" [ngValue]="district.key">{{ district.key }}</option>
    </select>
  </div>

  <div class="ml-5" *ngIf="regionTreeForm.value.state != '' && regionTreeForm.value.district != ''">
    <select id="premise_type" formControlName="premise_type">
      <option value="">Pilih Jenis Premis</option>
      <option *ngFor="let premise_type of regionTree[regionTreeForm.value.state || ''][regionTreeForm.value.district || '']" [ngValue]="premise_type">{{ premise_type }}</option>
    </select>
  </div>

  <button class="button ml-5" type="submit">Submit</button>
</form>
