<p>main works!</p>
<div>
  <button (click)="checkLatestRevision()">checkLatestRevision</button>
</div>
<div>
  <button (click)="getLocalRevision()">getLocalRevision</button>
</div>
<div>
  <button (click)="updateLocalRevision()">updateLocalRevision</button>
</div>
<div>
  <button (click)="fetchDatabaseBlob()">fetchDatabaseBlob</button>
</div>
<div>
  <button (click)="updateLocalDatabaseArrayBuffer()">updateLocalDatabaseArrayBuffer</button>
</div>
<div>
  <button (click)="getLocalDatabaseArrayBuffer()">getLocalDatabaseArrayBuffer</button>
</div>
<div>
  <button (click)="getDatabaseSQLInstance()">getDatabaseSQLInstance</button>
</div>
<div>
  <button (click)="init()">init</button>
</div>
