<p>main works!</p>
<div>
  <button (click)="checkLatestRevision()">checkLatestRevision</button>
</div>
<div>
  <button (click)="getLocalRevision()">getLocalRevision</button>
</div>
<div>
  <button (click)="updateLocalRevision()">updateLocalRevision</button>
</div>
<div>
  <button (click)="updateDatabaseArrayBuffer()">updateDatabaseArrayBuffer</button>
</div>
<div>
  <button (click)="getDatabaseArrayBuffer()">getDatabaseArrayBuffer</button>
</div>
<div>
  <button (click)="getDatabaseInstance()">getDatabaseInstance</button>
</div>
<div>
  <button (click)="init()">init</button>
</div>
